/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import css files */
@import url("sections/profile.css");
@import url("sections/gallery.css");
@import url("sections/footer.css");

/* declare variables for reusability */

:root {
	--font: "Montserrat", sans-serif;

	--color-black: #4e5150;
	--color-gray-1: #e5e5e5;
	--color-gray-2: #a9a9a9;
	--color-gray-footer: #b9bdcf;
	--color-gray-4: #bdbdbd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1440px;

	font-family: var(--font);
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@media screen and (max-width: 1280px) {
	.gallery {
		padding: 0 50px;
	}
}
@media screen and (max-width: 600px) {
	.gallery {
		padding: 0 12px;
		gap: 12px;
	}

	.profile {
		margin-top: 30px;
		justify-content: center;
		gap: 12px;
	}

	.profile__personal-img {
		padding: 0 30px;
	}

	.profile__personal h4 {
		margin-top: 12px;
	}

	.profile__stats {
		gap: 12px;
	}

	.stats-item {
		padding: 6px 0 8px 0;
		flex-basis: 78px;
	}
}
